[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
neovim = "*"
ipython = "*"
flake8 = "*"
ipdb = "*"

[packages]
django = "*"
grpcio = "*"
grpcio-tools = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
