[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
neovim = "*"
ipython = "*"
flake8 = "*"
ipdb = "*"

[packages]
django = "*"
grpcio = "*"
grpcio-tools = "*"
django-extensions = "*"
django-bootstrap4 = "*"
opentelemetry-api = "*"
opentelemetry-sdk = "*"
opentelemetry-ext-wsgi = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
