{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Zoogle</title>
        {% bootstrap_css %}
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <a href='/' class="my-0 mr-md-auto lead">Zoogle</a>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{% url "ssr" %}">SSR</a>
                <a class="p-2 text-dark" href="{% url "ajax" %}">Ajax</a>
                <a class="p-2 text-dark" href="{% url "search" %}">Search</a>
            </nav>
        </div>
        {% block content %}
        <h1>CONTENT</h1>
        {% endblock content %}
    </body>
</html>
